h1{
    text-align: center;
    color: #ffcb05
}
h2{text-align:left}
body {background-color: black;}

.list{text-align: left}


body {
    text-align: center;
    color: white;
    font-family: c;
  }